<head>
    <link rel="stylesheet" href="/css/<%- styles %>">
    <script src="/javascript/default.js" defer></script><%if (locals.script) {%><%- `
    <script src="/javascript/${script}" defer></script>`%><%}%>
    <title><%-title%></title>
<%- include('favicons'); %>
<%- include('meta'); %>
<%- include('gtag'); -%>
</head>