<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/<%- styles %>">
    <script src="/javascript/<%- script %>" defer></script>
    <title><%-title%></title>
<%- include('favicons'); %>
    <meta name="author" content="Jason Barrett Wilkes, Scruffy Minds Web Design">
    <meta name="description" content="Pent Up! is a band that is here to drink beer and play punk rock... and they're all out of beer.">
    <meta name="keywords" content="Band, Alternative, Rock, Punk, Punk Rock, Emo, Indie, Music, Seattle, Washington, Pacific Northwest">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<%- include('gtag'); -%>
</head>