<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/<%- styles %>">
    <script src="/javascript/default.js" defer></script><%if (locals.script) {%><%- `
    <script src="/javascript/${script}" defer></script>`%><%}%>
    <title><%-title%></title>
<%- include('favicons'); %>
    <meta name="author" content="Jay Barrett">
    <meta name="description" content="Pent Up! is a Seattle-based trio delivering driving rhythms with punk energy and reckless abandon.">
    <meta name="keywords" content="Band, Alternative, Alternative Rock, Rock, Punk, Punk Rock, Indie, Music, Seattle, Washington, Pacific Northwest">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<%- include('gtag'); -%>
</head>