<!DOCTYPE html>
<html lang="en">
<%- include('partials/head'); -%>
<!-- <script src="//widget.songkick.com/10191154/widget.js" defer></script> -->

<body>
    <%- include('partials/mobile-menu'); -%>

    <div class="container">

        <%- include('partials/header-logo'); -%>
        <%- include('partials/menubar'); -%>
        
        <section id="shows" class="column jc-center">



            <div id="current-shows">
            <div class="title row jc-center">
                <span>Current shows</span>
            </div>
                <img class="loading" src="/images/loading.gif" alt="..loading...">
            </div>

            <hr class="hidden">

            <div id="past-shows">

            </div>
            <img class="songkick hidden" src="/images/songkick/powered-by-sk/powered-by-songkick-white.svg" alt="Powered by Songkick">

        </section>
        <%- include('partials/footer'); -%>
    </div>

</body>

</html>