<!DOCTYPE html>
<html lang="en">
<%- include('partials/head'); -%>
<body>
    <%- include('partials/mobile-menu'); -%>
    <div class="container">

        <%- include('partials/header-logo'); -%>

        <%- include('partials/menubar'); -%>
        
        <%- include('partials/footer'); -%>

    </div>
</body>
</html>